/* ===========================
   YAM GIFT WEBSITE
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f8f8f8;
    color:#333;
    line-height:1.6;
}

/* HERO */

.hero{
    background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
    url("images/background.jpg") center/cover no-repeat;

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;

    color:#fff;

    padding:20px;
}

.overlay{
    max-width:700px;
}

.logo{
    width:170px;
    height:170px;
    border-radius:50%;
    border:5px solid white;
    object-fit:cover;
    margin-bottom:20px;
}

.hero h1{
    font-size:55px;
    font-weight:700;
    letter-spacing:3px;
}

.hero h2{
    margin-top:15px;
    font-size:26px;
    font-weight:400;
}

.hero p{
    margin:20px 0;
    font-size:18px;
}
